<!DOCTYPE html>
<html>
    <head>
        <script src="https://d3js.org/d3.v5.min.js" defer></script>
        <script src="../assets/js/D3Custom.js" defer></script>
    <style>
        .container{
            border: 1px solid black;
            width: 250px;
            height: 200px;
            border: 1px solid #d996d8;

        }

        .bar {
           fill: #d996d8;
        }
    </style>
    </head>
    <body>
        <div class="container">
            

        <div>
    
    </body>
</html>

